.input-button {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #ccc;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.input-button:hover {
  background-color: #aaa;
}
